doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav 
        div.logo Members Only
        ul 
          if !user
            li 
              a(href='/login') Login 
            li 
              a(href='signup') Sign Up 
          else
            li 
              a(href='/logout') Logout 

    block content
