extends layout 

block content 

    h1 Login 

    form(method='post' action='')
        label(for='username') Username:
        input#username(type='email' name='username' required='true')
        label(for='password') Password:
        input#password(type='password' name='password' required='true')

        button(type="submit") Login

    
    if errors 
        each error in errors 
            ul 
                li!=error.msg