extends layout 

block content 
    h2 Enter code to join: 
    form(method='post' action='')
        input#secret(type="password" name="secret" required="true")
        button(type='submit') Submit

    if errors 
        each error in errors 
            ul 
                li!=error.msg

    if invalidCode 
        p Code is not correct. Please enter the correct code.